// scss-docs-start color-variables
$primary:  #0074D9 !default;
$body-bg-dark: #171717 !default;
$input-color: #2F2F2F !default;
$input-color-hover: #3e3e3e !default;
$light-gray: #CCCCCC !default;
$gray: #adadad !default;
$darker-gray: #515151 !default;
$btn-border-radius: 6px !default;
$white: #ffffff !default;
$footer-bg: #212121 !default;
$focus: #495057 !default;